.converter-container {
  display: grid;
  grid-template-areas:
    "input button"
    "output output";
  grid-gap: 15px 5px;
  width: 100%;
}
#output {
  background: #f1f1f1;
  grid-area: output;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  grid-area: input;
  padding-left: 20px;
  border: solid 2px #695858;
}

input,
button {
  height: 40px;
}
