* {
  margin: 0;
  padding: 0;
}
body {
  background: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
#lights {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}
#lights li {
  list-style: none;
  height: 28px;
  width: 12px;
  border-radius: 50%;
  position: relative;
  animation: blink 2500ms ease-in-out infinite;
}
#lights li:before {
  content: "";
  height: 9.333px;
  width: 10px;
  background: rgb(0, 25, 0);
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-radius: 35%;
}
.button {
  width: 100px;
  height: 50px;
  background: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.button:hover {
  cursor: pointer;
}
.active {
  background: rgb(68, 0, 0);
  height: 45px;
  width: 85px;
}
.deactive {
  background: red;
}
.red {
  background: red;
  box-shadow: 0px 4.6666px 24px 3px rgba(255, 0, 0, 1);
}
.orange {
  background: orange;
  box-shadow: 0px 4.6666px 24px 3px rgba(255, 156, 0, 1);
}
.yellow {
  background: yellow;
  box-shadow: 0px 4.6666px 24px 3px rgba(255, 255, 0, 1);
}
.green {
  background: green;
  box-shadow: 0px 4.6666px 24px 3px rgba(0, 128, 0, 1);
}
.blue {
  background: blue;
  box-shadow: 0px 4.6666px 24px 3px rgba(0, 0, 255, 1);
}
.indigo {
  background: indigo;
  box-shadow: 0px 4.6666px 24px 3px rgba(75, 0, 130, 1);
}
.violet {
  background: violet;
  box-shadow: 0px 4.6666px 24px 3px rgba(238, 130, 238, 1);
}
.delay1 {
  animation-delay: 100ms !important;
}
.delay2 {
  animation-delay: 300ms !important;
}
.delay3 {
  animation-delay: 500ms !important;
}
.delay4 {
  animation-delay: 700ms !important;
}
/* .stopBlinking {
  animation: none !important;
} */

@keyframes blink {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
